<!-- header footer ko include krna hota hai agar layouts ka use kr rahe hain!-->
    <h1>Codeial <%= title %></h1>

    <section id="feed-posts">
        <h4>
            Posts
        </h4>
        <% if(locals.user) {%>
        <form action="/posts/createPost" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="type here..."> 

            </textarea>
              <input type="submit" value="POST">
        </form>
        <div id="post-list-container">
         <ul>
             <% for(post of posts){ %>
                <!--using partials to divide our large code into smaller one! -->
                <%- include('_post') -%>
                <% }%>
         </ul>
        </div>
            <% }%>
    </section>
    <section id="user-friends">
    <h3>Friends</h3>
    <% for(u of all_users){%>
         <p>
             <!--ab iske baad profile pages ke routes change honge according to id show honge!-->
             <a href="/user/profile/<%=u.id%>"> 
                <%=u.name %>
             </a>
         </p>

        <% } %>

    </section>

    <script src="/js/home_posts.js"></script>